.sidebar {
    &--logo {
        height: 10rem;
        display: grid;
        place-items: center;
    }
    .ant-menu-item {
        color: var(--color-black-1);
        display: flex;
        align-items: center;
        margin-inline: 0;
        width: 100%;
        border-radius: 0;
    }
    .ant-layout-sider {
        height: 100%;
    }
    .ant-menu-item-selected {
        color: var(--color-blue-9);
        background-color: var(--color-white-7);
        border-right: 0.4rem solid var(--color-blue-11);
    }
}