@import "../../sass/utils/mixins";
.sidebar {
    @include respond(sm) {
        .ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-below {
            width: 100vw !important;
        }
    }
    .custom-menu-item {
        margin-top: 25rem;
    }
    .help-center-class {
        border-bottom: 0.1rem solid var(--color-gray-2-1);
    }
    &--logo {
        height: 10rem;
        display: grid;
        place-items: center;
    }
    .ant-menu-item {
        color: var(--color-black-1);
        display: flex;
        align-items: center;
        margin-inline: 0;
        width: 100%;
        border-radius: 0;
    }
    .ant-layout-sider {
        height: 100%;
    }
    .ant-menu-item-selected {
        color: var(--color-blue-9);
        background-color: var(--color-white-7);
        border-right: 0.4rem solid var(--color-blue-11);
    }
    &__menu {
        margin-bottom: 20rem;
    }
}