.top-bar {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    margin-block: 2.4rem;
    &__icons {
        column-gap: 1.3rem;
        display: flex;
        justify-content: space-between;
        .icon {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            justify-content: center;
            font-size: var(--font-size-16);
            border: 0.2rem solid var(--color-gray-8);
        }
    }
    &__search-field {
        width: 23.9rem;
        &>span {
            border-radius: 3.2rem;
            padding: 1rem;
        }
        .ant-input-suffix>span {
            color: var(--color-black-1);
        }
    }
}