//  this files containes rules that override
//  a styles from the packages we are using

@import "../utils/mixins";

html {
  // antd
  // antd button font size conn't be
  // modified alone by the less variables
  // https://github.com/twbs/bootstrap/pull/26908
  .ant-btn-lg {
    font-size: var(--font-size-14) !important;
  }

  // since we changed the height
  // of small input
  // we need to change the line height of it
  .ant-btn-sm {
    line-height: var(--line-height-base);
  }

  .ant-btn {
    // remove border from filled buttons
    &.ant-btn-primary:not(.ant-btn-background-ghost) {
      border: none;
    }
    &.ant-btn-icon-only {
      min-width: 3rem;
    }
  }

  // override tab title color
  // no variable provided from ant
  .ant-tabs-tab {
    color: var(--color-gray-2-2);
  }

  .ant-tabs {
    font-size: var(--font-size-16);
  }

  // our base border raduis is 10 but
  // 10 for the checkbox is too big
  // and make it as circle
  // and no variable provided from ant
  .ant-checkbox-inner,
  .ant-pagination.mini .ant-pagination-item {
    border-radius: var(--border-radius-xsm);
  }

  // main content should have max width and
  // centered
  .ant-layout-content {
    max-width: 122rem;
    width: 100%;
    margin: 0 auto;
    padding: 2.8rem 4rem 2rem;
  }

  // add alpha to badges colors
  .ant-badge-status-dot.ant-badge-status-success {
    opacity: 0.15;
  }

  .ant-badge-status-dot.ant-badge-status-error {
    opacity: 0.58;
  }

  .ant-badge-status-dot.ant-badge-status-warning {
    opacity: 0.3;
  }

  .ant-modal-title {
    color: var(--color-gray-4-2);
  }

  // antd Tag
  .ant-tag {
    padding: 0.15rem 0.8rem;
    border-radius: var(--border-radius-xsm);
    font-size: var(--font-size-12);
  }

  .site-tag-plus {
    background: var(--color-white);
    border-style: dashed;
  }

  .edit-tag {
    user-select: none;
  }

  .tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
  }

  // tags colors
  .ant-tag-red {
    color: var(--color-red-3);
    background: var(--color-red-2-o5);
    border-color: var(--color-red-2);
  }

  .ant-tag-green {
    color: var(--color-green-5);
    background: var(--color-green-1);
    border-color: var(--color-green-3);
  }

  .ant-tag-yellow {
    color: var(--color-yellow-5);
    background: var(--color-yellow-1);
    border-color: var(--color-yellow-3);
  }

  .ant-tag-processing {
    color: var(--color-blue-5);
    background: rgba(153, 192, 255, 0.4);
  }

  .ant-tag-blue {
    color: var(--color-blue-3);
    background: var(--color-blue-4-o08);
    border-color: var(--color-blue-2);
  }

  .ant-tag-blue--light {
    border: none;
    background: var(--color-blue-4-o08);
  }

  // Solid theme for tags
  .ant-tag--solid {
    border: none;

    &.ant-tag-green {
      color: var(--color-white);
      background: var(--color-green-3);
    }

    &.ant-tag-red {
      color: var(--color-white);
      background: var(--color-red-2);
    }

    &.ant-tag-yellow {
      background: var(--color-yellow-2-o8);
      color: var(--color-white);
    }

    &.ant-tag-default {
      background: var(--color-gray-1-9);
      color: var(--color-white);
    }
  }

  // table
  // remove white background on the table pagination
  .ant-table-wrapper {
    background: none;
  }

  .ant-table {
    font-size: var(--font-size-16);
  }

  // remove table horizonal scroll shadow
  .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    box-shadow: none;
  }

  // override table header font
  .ant-table-thead > tr > th {
    color: var(--color-gray-5);
    font-weight: 400;
  }

  // override ant table horizontol scroll
  .ant-table-content {
    &::-webkit-scrollbar {
      height: 0.4rem;
    }
  }

  // heading
  // change font weight
  h1.ant-typography,
  h1.ant-typography {
    font-weight: 500;
  }

  // empty description color
  .ant-empty-description {
    color: var(--color-gray-3);
    font-size: var(--font-size-18);
  }

  [dir="rtl"] {
    & .ant-table-container table > thead > tr:first-child {
      & th:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 10px;
      }

      & th:last-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
      }
    }
  }

  // change antd text strong font wheihgt
  .ant-typography strong {
    font-weight: 500;
  }

  // give secondary text a lighter color
  .text-secondary {
    opacity: .7;
  }

  // increase date picker icon size
  .ant-picker {
    .anticon.anticon-calendar {
      font-size: 1.8rem;
    }
  }

  // hide year next and prev button in date picker
  .ant-picker-panel-container {
    .ant-picker-header-super-prev-btn,
    .ant-picker-header-super-next-btn {
      display: none;
    }
  }

  // remove gray background from disabled calender cells
  .ant-picker-cell-disabled::before {
    background: unset;
  }

  // change modal close icon position
  .ant-modal-close-x {
    line-height: 4.5rem;
    width: 4rem;
    font-size: 1.8rem;
  }

  // override ant hypertext color
  .ant-typography a {
    color: var(--color-blue-3);
  }

  // remove unneeded styles for arrows on rtl layout
  .ant-collapse-rtl.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
    transform: none;
  }

  // position collapse icon on the left
  .ant-collapse-icon-position-left {
    .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      position: absolute;
      top: 50%;
      left: 1.6rem;
      right: auto;
      margin: 0;
      transform: translateY(-50%);
    }
  }

  // change header
  .ant-table-thead {
    tr {
      th {
        background: linear-gradient(
            0deg,
            rgba(238, 239, 242, 0.4),
            rgba(238, 239, 242, 0.4)
        ),
        #ffffff;
      }
    }
  }
}

#userpilotContentNative {
  max-height: 100%;
  @include respond(md) {
    overflow-x: hidden !important;
  }
}

@media print {
  .chartjs-render-monitor {
    max-width: 100%;
  }

  .ant-tabs-nav, .header-buttons, .ant-pagination, #userpilot-checklist {
    display: none !important;
  }
}