//  this files containes rules that override
//  a styles from the packages we are using
@import "../utils/mixins";
html {
    .ant-btn-lg {
        font-size: var(--font-size-14) !important;
    }
    // since we changed the height
    // of small input
    // we need to change the line height of it
    .ant-btn-sm {
        line-height: var(--line-height-base);
    }
    .ant-btn {
        // remove border from filled buttons
        &.ant-btn-primary:not(.ant-btn-background-ghost) {
            border: none;
        }
        &.ant-btn-icon-only {
            min-width: 3rem;
        }
    }
}